<h2><%= @merchant.username %>'s Dashboard</h2>

<section>
  <% unless @merchant.nil? %>

  <%# <section>
    <h3>Total Earnings: <%= @total_revenue %> 
  <%# </section> %>

  <section>
    <%= link_to "Add a product", new_product_path %>
    <%= link_to "Add a category", new_category_path %>
    Total Earnings: $ <%= @merchant.total_revenue %>
    <h3>Your Orders:</h3>

    <% if @merchant.order_items.length > 0 %>
      <ul>
      <% @merchant.order_items.each do |order_item| %>
        <li>Order: <%= link_to order_item[:id], order_path(order_item.order.id), method: :get  %></li>
      <% end %>
      </ul>
    <% end %>

    <h3>Your Products:</h3>

    <% if @merchant.products.length > 0 %>
      <ul>
      <% @merchant.products.each do |product| %>
        <li>Name: <%=link_to product.name, product_path(product.id) %></li>
      <% end %>
      </ul>
    <% end %>

  </section>

  <% end %>
</section>