
<h2>All The Plants</h2>
<section id="product-listings-container">
  <% @products.each do |product| %>
    <ul class="product-listing">
      <li>
        <% if product.photo_url == nil  || product.photo_url.length < 1  %>
          <%= link_to image_tag("https://www.creativefabrica.com/wp-content/uploads/2019/10/01/Plant-Flower-Leaf-Agriculture-Icon-by-Hoeda80-11-580x386.jpg"), product_path(product.id) %>
        <% else %>
          <%= link_to image_tag(product.photo_url, alt: "photo of #{product.name}"), product_path(product.id) %>
        <% end %>   
        
      </li>
      <li>
        <h3><%=link_to product.name, product_path(product.id) %></h3>
      </li>
      <li>
        <strong>Cost: </strong><%= number_to_currency(product.price) %>
      </li>
      <li>
        <strong>Quantity: </strong>
        <% if product.inventory == 0 %>
          SOLD OUT
        <% else %>
          <%= product.inventory %>
        <% end %>
      </li>
    </ul>
  <% end %>
</section>



