<main>
  <section class="product-show">
    <% if @product.photo_url == nil %>
      <%= image_tag("https://f1.pngfuel.com/png/584/952/34/black-and-white-flower-black-white-m-leaf-plant-stem-silhouette-computer-line-plants-png-clip-art.png", :alt => "generic plant silhouette", class: "product-image") %>
    <% else %>
      <%= image_tag(@product.photo_url, :alt => @product.name, class:"product-image") %>
    <% end %>   

    <section class="product-show-info">
      <h2>
        <%= @product.name %>
      </h2>

      <ul>
        <li>
          <h3><%= number_to_currency(@product.price) %></h3>
        </li>
        <li>
          <strong>Stock: </strong><%= @product.inventory %>
        </li>
        <li>
          <%= @product.description %>
        </li>
      </ul>

      <%= form_for :order_item, url: product_order_items_path(@product.id)  do |f| %>
      <div class="product-submit-quantity">
        <section>
          <strong><%= f.label :quantity %></strong><br>
          <%= f.text_field :quantity %>
        </section>
        <%= f.hidden_field :name, :value => @product.name %>
        <%= f.hidden_field :price, :value => @product.price %>
        <%= f.hidden_field :photo_url, :value => @product.photo_url %>
        <section>
          <%= f.submit 'Add to Cart', class:"btn btn-info" %>
        </section>
      </div>

    
      <% if @product.merchant_id == session[:user_id] %>
        <p> 
          <%= link_to "Edit this product listing", edit_product_path(@product.id) %> 
        </p>
      <% end %>
    </section>
    <% end %>

  </section>
</main>