<!DOCTYPE html>
<html>
  <head>
    <title>Plantsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section>
        <h1>Plantsy</h1>
        <% if session[:user_id] %>
          <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %>
          <%= link_to "Login with Github", github_login_path %>
        <% end %>
      </section>
    </header>
    
    <section class="flash">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>">
          <%= message %>
        </div>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
